.firma { color: blueviolet; font-family: 'Times New Roman', Times, serif;
}
.firma2 { color: greenyellow; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:xx-large;
}
*{
    background-color: lightgoldenrodyellow;
}